<% content_for :tab, :recipe %>
<% content_for :content do %>
    <div class="card">
      <div class="card-header text-white bg-secondary">
        <h3>Recettes</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover table-inverse">
          <thead>
          <tr>
            <th>Nom</th>
            <th class="text-center">Catégorie</th>
            <th class="text-center"></th>
          </tr>
          </thead>
          <tbody>
          <% @recipes.each do |recipe| %>
              <tr>
                <th scope="row"><%= recipe.name %></th>
                <td><%= recipe.category.name %></td>
                <td>
                  <%= link_to 'Voir', recipe, class: 'btn btn-sm btn-info' %>
                  <%= link_to 'Editer', edit_recipe_path(recipe), class: 'btn btn-sm btn-success' %>
                  <%= link_to 'Supprimer', recipe, method: :delete, data: {confirm: 'Etes-vous sur ?'}, class: 'btn btn-sm btn-danger' %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to 'Ajouter une Recette', new_recipe_path, class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
<%= render template: 'layouts/profile' %>