<%= form_for @stanhome_product do |f| %>
    <% if stanhome_product.errors.any? %>
        <div class="alert alert-warning" role="alert">
          <ul>
            <% stanhome_product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group row">
      <%= f.label :reference, 'Référence', class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.number_field :reference, autofocus: true, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :product_name, 'Nom du produit', class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.text_field :product_name, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :quantity, 'Quantité', class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.number_field :quantity, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit 'Enregistrer', class: 'btn btn-outline-success' %>
    </div>
<% end %>